<div class = "container">

<h1>About this Site</h1>
	<p>The Michigan Avenue Corridor website is intended to be an interactive community for stakeholders of the Michigan Avenue Corridor in the Greater Lansing Area of Michigan: residents, community/neighborhood organizations, small businesses, students, policymakers, and others invested in the corridor are welcome.  Rather than create a static website in which information about community meetings and planning could be provided with minimal opportunity for feedback, we have created an interactive website through which stories could be shared, information could be gathered, and issues can be framed.  While we envision constructive uses of the website, we also realize that there could be unproductive uses of the website as well. </p>
	<p>As a result, we have created principles for constructive use of the website:</p>
	<ul>
		<li>When responding to someone's ideas critically, make sure to note the merits of their ideas.</li>
		<li>Criticize ideas and issues, not the persons who are advocating those ideas.</li>
		<li>Do not criticize someone's post based on their grammatical skills.</li>
		<li>Do not criticize someone's post based on their use of personal experience versus other types of evidence (such as up-to-date statistics, or research).</li>
		<li>Appreciate all types of expertise, not just professional expertise.  Non-experts have valuable insights and perspectives to offer.</li>
		<li>Be willing to have your ideas challenged if they are public.  Not everyone will agree with your ideas, or might have an alternative view than your own.</li>
		<li>Instead of simply venting, propose some tentative solutions to community issues that you are experiencing and be welcome to the possibility of other solutions and points of view on the issue.</li>
	</ul>

</div>