<div class = "container"

  	<p "welcome">Welcome!</p>
  	<p>This website is your place to learn and share about the life of Michigan Avenue, a commercial corridor that runs through Lansing and East Lansing, Michigan.</p> 

<h1>Welcome to the Corridor!</h1>

<p>This website is your place to learn and share about the life of Michigan Avenue, a
commercial corridor that runs through Lansing and East Lansing, Michigan.  It's sponsored
by the Michigan Avenue Corridor Improvement Authority and Michigan State University.</p>

</div>